@import './base.css';

#app {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;

  font-weight: normal;
}

a,
.green {
  text-decoration: none;
  /*color: hsla(160, 100%, 37%, 1) !important;*/
  transition: 0.4s;
  color: #67e8f9 !important;
}

.main-title {
  /*background-image: linear-gradient(to right, #C07E04 0%, #FAED91 31.3%, #C9841D 63.59%, #D69F3B 100%);*/
  color: transparent;
  -webkit-background-clip: text;
  background-clip: text;
  background-size: 300%;
  background-position: -100%;
  font-size: 44px !important;
  animation: gradient 5s infinite alternate-reverse;
}

@keyframes gradient {
  to {
    background-position: 100%;
  }
}

@keyframes zoomInOutBtn {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(1.1);
  }
}

.btn-zoom-in {
  animation: zoomInOutBtn 0.6s linear alternate infinite;
  -webkit-animation: zoomInOutBtn 0.6s linear alternate infinite;
}

@media (hover: hover) {
  a:hover {
    /*background-color: hsla(160, 100%, 37%, 0.2);*/
  }
}

@media (min-width: 1024px) {
  body {
    display: flex;
    place-items: center;
  }

  #app {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 0 2rem;
  }
}
